@media(min-width:991px) {
    .category-icon {        
        font-size: 20pt;
        width: 20px;
        height: 20px;
        padding: 30px;             
    }

    .category-icon:hover {
        cursor: pointer;
        color: var(--raisin-black);
        background-color: var(--deep-champagne);
        transition: 0.3s ease-in-out;
    }
    /* ------------------ */
    /* body styles start  */
    body {   
        grid-template-rows: 275px auto auto;
        grid-template-areas:
        "header"
        "main"
        "footer"; 
        }
    /* body styles end  */
        /* ------------ */
    /* header styles start      */
        header {    
        grid-template-rows: 80px 100px;    
    } 
    /* header styles end  */
    /* ----------------- */
    /* nav bar styles start  */
    nav {    
        grid-template-columns: 20px 80px 1200px auto auto 80px 10px;
        grid-template-rows: 80px;
        background-color: var(--deep-champagne-70);           
    }

    nav img {
        max-height: 60px;
        border-radius: 50%;
    }


    #nav2,
    #nav3 {
        text-decoration: none;
        color: var(--red-salsa);
        background-color: var(--off-white);    
        border: none;
        font-size: 1.3em;           
    }


    #nav2:hover ,
    #nav3:hover {
        color: var(--off-white);
        background-color: var(--red-salsa);        
        transition: 0.3s ease-in-out; 
    }
    /*  nav bar styles end  */
    /* ------------ */
    /* welcome message styles start  */
    #welcome-message-container {
        height: 150px;
        background-color: var(--red-salsa);    
    }


    #welcome-message {
        color: var(--off-white);
        font-size: 20pt;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    /* welcome message styles end  */
    /* -----------------  */
    /* main styles start  */
    #main {   
        grid-template-columns: 100px auto auto 100px;
        grid-template-rows: 600px 500px auto;
        gap: 25px;
        grid-template-areas: 
        "mainblank1 mainfeatured mainother mainblank2"
        "mainblank1 mainbrcat mainbrrecipe mainblank2"
        "mainblank1 mainsub mainsub mainblank2";    
    }
    /*-------------- featured section styles start  */
    #featured {
        height: auto;
        background-size: cover;
        grid-area: mainfeatured;
        grid-template-rows: 150px 90px 50px 50px 80px;                  
    }


    #featured1 {        
        font-size: 30pt;        
        padding: 20px 50px;        
    }


    #featured2 {
        grid-area: price;
        font-size: 20pt;
        color: var(--off-white);    
    }


    #featured3 {
        grid-area: ftcategory;        
        font-size: 35pt;
        gap: 0;
        grid-template-columns: 100px 100px;
        color: var(--deep-champagne)
    }


    #featured4 {
        grid-area: ftreadmore;      
    }


    #featured4 a {
        background-color: var(--skobeloff);
        color: var(--off-white);
        width: auto;
        font-size: 10pt;
        padding: 0px 20px; 
    }

    #featured4 a:hover {
        background-color: var(--off-white);
        color: var(--skobeloff);
        transition: 0.3s ease-in-out;
        border-radius: 2em;    
    }


    /* -------------featured section styles end  */
    /* ------------------------ */
    /* other blogs styles start  */
    #other-posts {
        grid-area: mainother;    
        grid-template-rows: repeat(2, 300px);    
    }      


    #other-posts h1 {
        font-size: 20pt;
        color: var(--raisin-black);
        background-color: var(--deep-champagne-70);
        padding: 20px 30px;
    }


    #other-posts a {
        font-size: 15pt;
        background-color: var(--skobeloff);
        padding: 20px 30px;        
    }

    #other-posts a:hover {
        background-color: var(--off-white);
        color: var(--skobeloff);
        transition: 0.3s ease-in-out;
        border-radius: 2em;    
    }


    /* other blogs styles end  */
    /* ----------- */
    /* main styles end  */
    /* --------------- */
    /* browse by category styles start  */
    #categories {
        grid-area: mainbrcat;
        grid-template-columns: 100px repeat(6, auto) 100px;    
        grid-template-rows: 70px auto auto 100px;   
        gap: 25px;
        width: 100%;  
    }  
    /* browse by category styles end  */
    /* -----------------  */
    /* browse recipes section styles start */
    #browse-recipe-container {
        grid-area: mainbrrecipe;
        gap: 10px;
        grid-template-rows: 140px 50px 100px 300px;          
    }  


    #br-submit:hover {
        background-color: var(--deep-champagne);
        color: var(--raisin-black);
        padding: 10px 30px;
        border: solid 0;
        border-radius: 3em;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    /* browse recipes section styles end  */
    /* ------------------ */
    /* subscribe form styles start  */
    #subscribe-form-container {
        grid-area: mainsub;
    }


    #subscribe-title {
        font-size: 20pt;
        grid-area: subtitle;
    }


    #subscribe-form {
        gap: 30px;
        flex-direction: row;
        grid-area: subform;
    }


    #submit-button:hover {
        background-color: var(--deep-champagne);
        color: var(--raisin-black);
        border-radius: 3em;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }


    #submit-reset-button:hover  {
        background-color: var(--raisin-black);
        color: var(--deep-champagne);
        border-radius: 3em;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    /* subscribe form styles end  */
    /* ------------------ */
    /*  main styles end  */
    /* -------------------------- */
    /* footer styles start  */
    footer {
        background-color: var(--raisin-black);
        grid-template-columns: 500px auto auto;
        grid-template-rows: 100px;
        gap: 10px;
        grid-template-areas:     
        "footerspace allrights shareop"    
        ;
    }

    footer img {
        width: 50px;
        height: auto;
    }


    #all-rights {
        grid-area: allrights;
        color: var(--off-white);
        font-size: 12pt;
    }


    #share-options {
        grid-area: shareop;
        width: 100%;
        gap: 15px;
        height: auto;  
    }
        
  
}