:root {
    /* first pallete */
    --tumbleweed: #D8A47F;
    --raisin-black: #272932;
    --raisin-black-70: #272932af;
    --raisin-black-30: #2729324c;
    --alice-blue: #e7ecef;
    --skobeloff: #0f7173;
    --skobeloff-70: #0f7173bd;
    --red-salsa: #f05d5e;
    --red-salsa-70: #f05d5dba;
    /* second pallete */
    --ruby-red: #A41623;
    --orange-pantone: #f85e00;
    --rajah: #ffb563;
    --rajah-70: #ffb663b0;
    --deep-champagne: #ffd29d;
    --deep-champagne-70: #ffd19dc3;
    --deep-champagne-30: #ffd19d4f;
    --gold-fusion: #918450;
    --gold-fusion-70: #918450c3;
    /* universal palette */
    --off-white:#f4f4f4;
   }
   /* --------------------- */
/* MEDIA STYLES MOBILE start  */

   /* universal classes styles start  */
.container {
    display: grid;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
}


.category-icon {
   display: flex;
   color: var(--deep-champagne);
   background-color: var(--raisin-black);
   font-size: 30pt;
   width: 50px;
   height: 50px;
   padding:30px;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   text-decoration: none;
}


a {
    text-decoration: none;
}


/* universal classes styles end  */
/* ----------------- */
/* body styles start  */
body {
    margin:0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    width:100%;
    height: auto;    
    background-image: url(../img/landing-page-bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    color: var(--raisin-black);
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; 
    grid-template-areas:
    "header"
    "main"
    "footer";
}
/* body styles end  */
/* -------------------------- */
/* header styles start  */
header {
    width:100%;
    height: auto;
    background-color: var(--red-salsa);
    margin:0;
    grid-area: header;
    grid-template-rows: auto 600px;    
}
/* -------------------------- */
/* nav bar styles start  */
nav {
    height: fit-content;
    display: inherit;
    align-items: center;
    grid-gap:10px;
    grid-template-columns: 20px 80px 250px auto auto 90px 10px;
    grid-template-rows: 128px;
    grid-template-areas:
    "navspace1 logo navspace2 category about search";        
}


nav img {
    max-height: 80px;
    border-radius: 50%;
}


#nav2,
#nav3 {
    text-decoration: none;
    font-size: 20pt;
    color: var(--off-white);
    background-color: var(--red-salsa);
    border-radius: 50px;
    border: solid 3px var(--off-white);
    padding: 10px 20px;        
}


#nav1 {
    grid-area: logo;
 }


 #nav2 {
    grid-area: category;
 }


 #nav3 {
    grid-area: about;
 }


 #nav4 {
    grid-area: search;       
 } 
/*  nav bar styles end  */
/* -------------------------- */
 /* welcome message styles start  */
 #welcome-message-container {
    grid-template-rows: auto;
    gap: 50px;
    grid-template-areas:  
    "welspace"
    "weltitle"
    "wellocation"
    "welcategory";
 }


#welcome-title {
    grid-area: weltitle;
    color: var(--off-white);
    font-size: 60pt;
    margin-bottom: 0;    
}


#location-icon {
    height: 60px;
    border-radius: 50%;
}


#location-container {
    gap: 30px;
    grid-area: wellocation;
    font-size: 17pt;
}


#welcome-category {
    gap: 30px;
    grid-area: welcategory;
}
/* welcome message styles end  */
/* -----------------  */
/*  header styles end  */
/* ------------------  */
/* main styles start  */
main {
    width: 100%;
    margin: 0;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "mainfeature"
    "mainabout"
    "mainother"
    "maincategory"
    "mainbrrecipe"
    "mainsub";
    grid-area:main;    
}
/*-------------- featured section styles start  */
#featured {
    grid-area: mainfeature;
    width: 100%;
    height: auto;         
    grid-gap: 50px;
    grid-template-columns: auto;
    grid-template-rows: auto 100px 425px 250px 100px;
    grid-template-areas:
    "ftphoto"
    "ftphotocaption"
    "ftdescription"
    "ftpricebreakdown"
    "ftspace";
    background-color:  var(--rajah-70);         
}


#ft-photo {
    grid-area: ftphoto;
    width: 100%;
    height: auto;      
}


#ft-photo-caption{
    grid-area: ftphotocaption;
    color: var(--off-white);
    margin: 0 2em;
    font-size: 1.5em;
}


#ft-description {
    grid-area: ftdescription;
    text-align: justify;
    margin: 0 100px;    
 }


#ft-price-breakdown {
    color: var(--off-white);
    grid-area: ftpricebreakdown;
    font-size: 27pt;
}
/* -------------featured section styles end  */
/* ------------------------ */
/* main about section styles start  */
#about-section {
    background-image: url(../img/team-photo.jpg);
    background-color: var(--deep-champagne-70);
    background-size: cover;
    background-attachment: fixed;   
    background-position: center;    
    background-blend-mode: screen;
    background-repeat: no-repeat;
    grid-area: mainabout;   
    grid-template-rows: 500px 300px 200px 200px 500px;
    grid-template-areas:
    "abtspace" 
    "abttitle"
    "abtdescription"
    "abtmore"
    "abtspace2";
}


#about-title {
    grid-area: abttitle;
    font-size: 60pt;
    color: var(--skobeloff);
}


#about-description {
    grid-area: abtdescription;
    font-size: 35pt;
    text-align: center;
    margin: 0 150px;
}


#about-more {
    grid-area: abtmore;    
}


#about-section h2 {
    font-size: 25pt;
}


#about-section a {
    background-color: var(--raisin-black);
    padding: 0px 50px;
    color: var(--deep-champagne);        
}
/* main about section styles end  */
/* -------------------------------------- */
/* other blogs styles start  */
#other-posts {
    grid-area: mainother;
    grid-template-rows: 200px 600px 600px;    
}


#other-posts-title {
    margin: 0;
    font-size: 50pt;
    color: var(--raisin-black);
    background-color: var(--rajah);
}


#other-posts h2 {
    font-size: 3em;
    color:var(--deep-champagne);
    background-color: var(--raisin-black-70);
    padding: 20px 30px;
}


#other-posts a {
    font-size: 2.5em;
    background-color: var(--skobeloff);
    padding: 20px 30px;
    color: var(--off-white);
}


#blog-post1 {
    background-image: url(../img/blog1-img.jpg);       
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;    
    background-color: var(--deep-champagne-30);
    background-blend-mode: soft-light;
}


#blog-post2 {
    background-image: url(../img/blog2-img.jpg);    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    background-color: var(--deep-champagne-30);
    background-blend-mode: soft-light;
}
/* other blogs styles end  */
/* ----------- */
/* browse by category styles start  */
    #categories {
    grid-area: maincategory;
    grid-template-columns: 0 repeat(5, 100px) 0;
    grid-template-rows: 250px auto auto 300px;
    grid-template-areas:
    "catspace1 catspace1 catspace1 catspace1 catspace1 catspace1 catspace1"
    "br br br br br br br" 
    "empty1 vegan vegetarian sugarfree nonalcoholic dairyfree empty2"
    "catspace2 catspace2 catspace2 catspace2 catspace2 catspace2 catspace2 ";
    gap: 50px;  
    }
    #browse-title {
        grid-area: br;
        font-size: 20pt;
    }


    #vegan-cat {
        grid-area: vegan;
    }


    #vegetarian-cat {
        grid-area: vegetarian;
    }


    #sugar-free-cat {
        grid-area: sugarfree;
    }


    #non-alcoholic-cat {
        grid-area: nonalcoholic;
    }


    #dairy-free-cat {
        grid-area: dairyfree;
    }
 /* browse by category styles end  */
 /* -----------------  */
 /* browse recipes section styles start */
#browse-recipe-container {
    grid-area: mainbrrecipe;
    background-color: var(--red-salsa);
    gap: 10px;
    grid-template-rows: 300px 50px 100px 300px;
    grid-template-areas: 
    "brspace1"
    "brtitle"
    "brsearch"
    "brspace2";          
}


#browse-recipe-title {
    font-size: 20pt;
    flex-direction: column;
    grid-area: brtitle;        
}


#browse-recipe-search {    
    grid-area: brsearch;
    width: 100%;
    flex-direction: column;
    gap: 20px;     
}

#br-submit{
    background-color: var(--raisin-black);
    color: var(--deep-champagne);
    padding: 10px 30px;
    border: solid 0;    
}

 /* browse recipes section styles end  */
 /* ------------------ */
 /* subscribe form styles start  */
 #subscribe-form-container {
    grid-area: mainsub;
    background-color: var(--rajah);
    grid-template-rows: 300px 200px 100px 300px;
    grid-template-areas: 
    "subspace1"
    "subtitle"
    "subform"    
    "subspace2";
 }


 #subscribe-title {
    font-size: 20pt;
    grid-area: subtitle;
 }


 #subscribe-form {
    flex-direction: column;
    gap: 30px;
    grid-area: subform;
 }


 #submit-button {
    background-color: var(--raisin-black);
    color: var(--deep-champagne);
    padding: 10px 30px;
    border: solid 0;    
}


#submit-reset-button {
    background-color: var(--deep-champagne);
    color: var(--raisin-black);
    padding: 10px 30px;
    border: solid 0;    
}
/* subscribe form styles end  */
 /* ------------------ */
/*  main styles end  */
/* -------------------------- */
 /* footer styles start  */
 footer {
    background-color: var(--raisin-black);
    grid-template-columns: auto;
    grid-template-rows: 200px;
    gap: 10px;
    grid-template-areas:     
    "allrights shareop"    
    ;
}


footer img {
    width: fit-content;
    height: 100px;
}


#all-rights {
    grid-area: allrights;
    color: var(--off-white);
    font-size: 20pt;
}


#share-options {
   grid-area: shareop;
   width: 100%;
   gap: 50px;
   height: auto;  
}
 /* footer styles end  */
/* MEDIA STYLES MOBILE end  */
 /* ----------------------------------------------------------------  */
 /* --------------------------------------------------------------- */
 /* ------------------------------------------------------------------ */
 /* MEDIA STYLES: Tablet start  */
 @media(min-width: 500px) and (max-width: 991px){       
    /* ------------ */
    /* welcome message styles start  */
        #welcome-message-container {
            height: 300px;
            background-color: var(--red-salsa);    
        }


        #welcome-message {   
            font-size: 20pt;            
        }


        #welcome-title {
            color: var(--off-white);
        }
            /* welcome message styles end  */
        /* ----------- */
        /* main styles start  */    
        /* featured styles start  */
        #ft-description {
            grid-area: ftdescription;
            text-align: justify;
            margin: 0 100px;
            font-size: 20pt;    
         }


         #ft-price-breakdown {
            font-size: 2em;
         }
        /* featured styles end  */
        /* ------------------ */
        /* about section styles start  */
        #about-title {
            font-size: 3.5em;            
        }
        /* about section styles end  */
        /* -------------------- */
        /* category section start  */
        #categories {
            grid-area: maincategory;
            grid-template-columns: auto;
            grid-template-rows: 250px auto auto 300px;
            grid-template-areas:
            "ct1 ct2 ct2 ct2 ct2 ct2 ct1"
            "ct1 br br br br br br" 
            "ct1 vegan vegetarian sugarfree nonalcoholic dairyfree ct1"
            "ct1 catspace2 catspace2 catspace2 catspace2 catspace2 ct1";
            gap:50px;  
            }
        /* category section end  */
        /* ------------------------------- */
        /* main styles end  */
    /* -------------------------------  */
    /* footer styles start  */
            #footer {
                grid-template-rows: 125px;
            }
    /* footer styles end  */
    /* --------------------------------- */
    } 
    /* MEDIA STYLES: Tablet end  */
 /* ----------------------------------------------------------- */
 /* ----------------------------------------------------------- */
  /* MEDIA STYLES: DESKTOP start  */
@media(min-width: 992px){
    .category-icon {        
        font-size: 20pt;
        width: 20px;
        height: 20px;
        padding: 30px;        
     }
    /* ------------------ */
    /* body styles start  */
    body {   
        gap: 30px;        
        grid-template-rows: auto;
        grid-template-areas:
        "header"
        "main"
        "footer"; 
        }
    /* body styles end  */
        /* ------------ */
    /* header styles start      */
        header {    
        grid-template-rows: 80px 450px;    
    } 
    /* header styles end  */
    /* ----------------- */
    /* nav bar styles start  */
    nav {    
        grid-template-columns: 20px 80px 1200px auto auto 80px 10px;
        grid-template-rows: 80px;
        background-color: var(--deep-champagne-70);           
    }

    nav img {
        max-height: 60px;
        border-radius: 50%;
    }


    #nav2,
    #nav3 {
        text-decoration: none;
        color: var(--red-salsa);
        background-color: var(--off-white);    
        border: none;
        font-size: 1.3em;           
    }
    /*  nav bar styles end  */
    /* ------------ */
    /* welcome message styles start  */
    #welcome-message-container {
        height: 150px;
        background-color: var(--red-salsa);    
    }


    #welcome-message {
        color: var(--off-white);
        font-size: 20pt;
        align-items: center;
        justify-content: left;
        flex-direction: column;        
    }


    #welcome-title{
        margin: 0;
        font-size: 3.5em;
    }


    /* welcome message styles end  */
    /* -----------------  */
    /* main DESKTOP styles start  */
    #main {   
        margin: 0;
        gap: 30px;
        grid-template-columns: 200px 1000px 400px 200px;
        grid-template-rows: 500px auto auto auto;
        grid-template-areas: 
        "m1 mainfeatured mainabout m2"
        "m1 mainfeatured mainother m2"        
        "m1 mainbrcat mainbrrecipe m2"
        "m1 mainsub mainsub m2";    
    }
    /*-------------- featured section styles start  */
    #featured {
        height: auto;
        background-size: cover;
        grid-area: mainfeatured;
        grid-template-rows: 1180px 0 300px;           
    }


    #ft-description {
        font-size: 1.5em;
    }


    #ft-photo-caption{
        font-size: 1em;
    }


    #ft-price-breakdown {
        font-size: 1.5em;
    }      
    /* -------------featured section styles end  */
    /* --------------------- */
    /* about section styles start  */
    #about-section {        
        background-color: var(--deep-champagne-70);
        background-size: cover;
        background-attachment: local;   
        background-position: center;    
        background-blend-mode: screen;
        background-repeat: no-repeat;
        grid-area: mainabout;   
        grid-template-rows: 200px 150px 100px;
        grid-template-areas:                
        "abttitle"
        "abtdescription"
        "abtmore"
        ;
    }


    #about-title {
        grid-area: abttitle;
        font-size: 25pt;
        text-align: center;
        color: var(--skobeloff);
        margin: 0 25px;
    }


    #about-description {
        grid-area: abtdescription;
        font-size: 25pt;        
        margin: 0 50px;
    }   


    #about-section h2 {
        font-size: 15pt;
    }


    #about-section a {
        background-color: var(--raisin-black);
        padding: 0px 50px;
        color: var(--deep-champagne);        
    }


    #about-section a:hover{
        background-color: var(--deep-champagne);
        color: var(--raisin-black);
        transition: 0.3s ease-in-out;
        border-radius: 2em; 
    }


    /* about section styles end  */
    /* ----------------------- */    
    /* other blogs styles start  */
    #other-posts {
        grid-area: mainother;    
        grid-template-rows: 75px 250px 250px;    
    }


    #other-posts-title{
        font-size: 2em;
        background-color: var(--raisin-black);
        color: var(--deep-champagne);
    }    
    
    
    #other-posts h1 {
        font-size: 20pt;
        color: var(--raisin-black);
        background-color: var(--deep-champagne-70);
        padding: 20px 30px;
    }


    #other-posts h2 {
        font-size: 1.5em;
        padding: 15px 20px;
    }
  

    #other-posts a {
        font-size: 15pt;
        background-color: var(--skobeloff);
        padding: 15px 30px;
        color: var(--off-white);        
    }

    #other-posts a:hover {
        background-color: var(--off-white);
        color: var(--skobeloff);
        transition: 0.3s ease-in-out;
        border-radius: 2em;    
    }


   

     
    /* other blogs styles end  */
    /* ----------- */
    
    /* --------------- */
    /* browse by category styles start  */
    #categories {
        grid-area: mainbrcat;
        grid-template-columns: 100px repeat(6, 130px) 100px;    
        grid-template-rows: 70px auto auto 100px;   
        gap: 25px;
        width: 100%;  
    }  
    /* browse by category styles end  */
    /* -----------------  */
    /* browse recipes section styles start */
    #browse-recipe-container {
        grid-area: mainbrrecipe;
        gap: 10px;
        grid-template-columns: auto;
        grid-template-rows: 140px 50px 100px 0;          
    } 


    #browse-recipe-title {
        font-size: 1.3em;
    } 


    #br-submit:hover {
        background-color: var(--deep-champagne);
        color: var(--raisin-black);
        padding: 10px 30px;
        border: solid 0;
        border-radius: 3em;
        transition: 0.3s ease-in-out;
    }


    /* browse recipes section styles end  */
    /* ------------------ */
    /* subscribe form styles start  */
    #subscribe-form-container {
        grid-area: mainsub;
    }


    #subscribe-title {
        font-size: 20pt;
        grid-area: subtitle;
    }

    
    #subscribe-form {
        flex-direction: row;
        grid-area: subform;
    }

    
    #submit-button:hover {
        background-color: var(--deep-champagne);
        color: var(--raisin-black);
        border-radius: 3em;
        transition: 0.3s ease-in-out;
    }


    #submit-reset-button:hover  {
        background-color: var(--raisin-black);
        color: var(--deep-champagne);
        border-radius: 3em;
        transition: 0.3s ease-in-out;
    }
    /* subscribe form styles end  */
    /* ------------------ */
    /*  main styles end  */
    /* -------------------------- */
    /* footer styles start  */
    footer {
        background-color: var(--raisin-black);
        grid-template-columns: 500px auto auto;
        grid-template-rows: 100px;
        gap: 10px;
        grid-template-areas:     
        "footerspace allrights shareop"    
        ;
    }


    footer img {
        width: 50px;
        height: auto;
    }


    #all-rights {
        grid-area: allrights;
        color: var(--off-white);
        font-size: 12pt;
    }


    #share-options {
        grid-area: shareop;
        width: 100%;
        gap: 15px;
        height: auto;  
    }
    /* footer styles end  */
}   
 /* MEDIA STYLES: Dekstop end  */
 /* ----------------- */
 /* ------------------- */
/* MEDIA STYLES TEMPLATE (below) 
@media(max-width: 320px)
@media(min-width: 901px){

}
@media(min-width: 600px) and (max-width: 900px) */