/* nav bar styles start  */
nav {    
    align-items: center;
    grid-gap: 10px;
    grid-template-columns: 0 60px 2fr auto auto 1fr;
    grid-template-rows: 70px;
    grid-template-areas:
    "nav1 logo nav2 category about search";        
}


nav img {
    max-height: 40px;
    border-radius: 50%;
}


#nav2,
#nav3 {
    text-decoration: none;
    font-size: 0.8em;
    color: var(--off-white);
    background-color: var(--red-salsa);
    border-radius: 50px;
    border: solid 2px var(--off-white);
    padding: 5px 10px;        
}


#nav1 {
    grid-area: logo;
    
 }


 #nav2 {
    grid-area: category;
 }


 #nav3 {
    grid-area: about;
 }


 #nav4 {
    grid-area: search;       
 } 
/*  nav bar styles end  */