/* external link to color palette  */
@import "colors.css";


/* external link to navigation styles  */
@import "nav-styles.css";


/* external link to "Other blog posts" section styles sheet  */
@import "otherblogposts-styles.css";


/* external link to "category icon" styles  */
@import "categoryicon-styles.css";

   /* --------------------- */
/* MEDIA STYLES MOBILE start  */

   /* universal classes styles start  */
.container {
    display: grid;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* category icon styles linked externally  */


a {
    text-decoration: none;
}
/* universal classes styles end  */
/* ----------------- */
/* body styles start  */
body {
    margin: 0;
    font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
    width: 100vw;
    height: auto;    
    background-image: url(../img/landing-page-bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    color: var(--raisin-black);
    grid-template-columns: 100vw;    
    grid-template-rows: 370px auto auto; 
    grid-template-areas:
    "header"
    "main"
    "footer";
}
/* body styles end  */
/* -------------------------- */
/* header styles start  */
header {
    width: 100vw;
    height: 130px;
    background-color: var(--red-salsa);
    margin: 0;
    grid-area: header;
    grid-template-columns: 100vw;
    grid-template-rows: auto 300px;    
}
/* -------------------------- */

/* navigation styles linked externally (ref lines: 5-6) */

/* -------------------------- */
 /* welcome message styles start  */
#welcome-message-container {
    height: 300px;
    background-color: var(--red-salsa);    
}


#welcome-message {
    color: var(--off-white);
    font-size: 1em;
    text-align: center
}
/* welcome message styles end  */
/* -----------------  */
/*  header styles end  */
/* ------------------  */
/* main styles start  */
main {
    
    margin: 0;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "mainfeature1"
    "mainother1"
    "maincat1"
    "mainrecipe1"
    "mainsub1";
    grid-area: main;    
}
/*-------------- featured section styles start  */
#featured {
    grid-area: mainfeature1;
    width: 100%;    
    background-image: url(../img/featured-food-img.jpg);    
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--raisin-black-70);
    background-blend-mode: soft-light;     
    align-items: center;
    justify-content: center;    
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: 150px 200px 100px 100px 100px 150px;
    grid-template-areas:
    " space"
    " title"
    " price"
    " ftcategory"
    "ftreadmore"
    "space2";         
}


#featured1 {
    grid-area: title;    
    font-size: 2em;
    color: var(--raisin-black);
    background-color: var(--deep-champagne-70);    
    padding: 30px;        
}


#featured2 {
    grid-area: price;
    font-size: 1.5em;
    color: var(--off-white);    
}


#featured3 {
    grid-area: ftcategory;
    display: grid;    
    gap: 30px;
    grid-template-columns: 70px 70px;
    color: var(--deep-champagne)
}


#featured4 {
    grid-area: ftreadmore;          
}


#featured4 a {
    background-color: var(--skobeloff);
    color: var(--off-white);
    width: auto;
    font-size: 1.5em;
    padding: 20px 30px; 
}
/* -------------featured section styles end  */
/* ------------------------ */

/* "other blog posts" styles linked externally (ref line:9-10) */

/* ----------- */
 /* browse by category styles start  */
 #categories {
    width: 100vw;
    grid-area: maincat1;
    grid-template-columns: 50px auto auto 50px;
    grid-template-rows: 250px auto auto auto auto 250px;
    grid-template-areas:
    "empty1 catspace1 catspace1 empty2 "
    "empty1 br br empty2"
    "empty1 sugarfree nonalcoholic empty2" 
    "empty1 vegan vegetarian empty2"
    "empty1 dairyfree dairyfree empty2"    
    "empty1 catspace2 catspace2 empty2";
    gap: 25px;  
    }


    #browse-title {
        grid-area: br;
        font-size: 1em;
        text-align: center;
    }


    #vegan-cat {
        grid-area: vegan;
    }


    #vegetarian-cat {
        grid-area: vegetarian;
    }


    #sugar-free-cat {
        grid-area:sugarfree;
    }


    #non-alcoholic-cat {
        grid-area:nonalcoholic;
    }


    #dairy-free-cat {
        grid-area:dairyfree;
    }
 /* browse by category styles end  */
 /* -----------------  */
 /* browse recipes section styles start */
#browse-recipe-container {
    grid-area: mainrecipe1;
    background-color: var(--red-salsa);
    gap: 10px;
    grid-template-rows: 300px 100px 100px 300px;
    grid-template-areas: 
    "brspace1"
    "brtitle"
    "brsearch"
    "brspace2";          
}


#browse-recipe-title {
    font-size: 1.5em;
    flex-direction: column;
    grid-area: brtitle;
    text-align: center;        
}


#browse-recipe-search {    
    grid-area: brsearch;
    width: 100%;
    flex-direction: column;
    gap: 20px;     
}

#br-submit {
    background-color: var(--raisin-black);
    color: var(--deep-champagne);
    padding: 10px 30px;
    border: solid 0;    
}

 /* browse recipes section styles end  */
 /* ------------------ */
 /* subscribe form styles start  */
 #subscribe-form-container {
    grid-area: mainsub1;
    background-color: var(--rajah);
    grid-template-rows: 300px 200px 100px 300px;
    grid-template-areas: 
    "subspace1"
    "subtitle"
    "subform"    
    "subspace2";
 }


 #subscribe-title {
    font-size: 1.5em;
    grid-area: subtitle;
    text-align: center;
 }


 #subscribe-form {
    flex-direction: column;
    grid-area: subform;
    gap: 20px;
 }


 #submit-button {
    background-color: var(--raisin-black);
    color: var(--deep-champagne);
    padding: 10px 30px;
    border: solid 0;    
}


#submit-reset-button {
    background-color: var(--deep-champagne);
    color: var(--raisin-black);
    padding: 10px 30px;
    border: solid 0;    
}


/* subscribe form styles end  */
 /* ------------------ */
/*  main styles end  */
/* -------------------------- */
 /* footer styles start  */
 footer {
    background-color: var(--raisin-black);
    grid-template-columns: 0 auto 0;
    grid-template-rows: 100px 50px;
    gap: 10px;
    grid-template-areas:     
    "footspace1  shareop footspace2"
    "footspace1 allrights footspace2"    
    ;
}


footer img {
    width: fit-content;
    height: 60px;
}


#all-rights {
    grid-area: allrights;
    color: var(--off-white);
    font-size: 1em;
}


#share-options {
   grid-area: shareop;
   width: auto;
   gap: 20px;     
}
 /* footer styles end  */
/* MEDIA STYLES MOBILE end  */
 /* ----------------------------------------------------------------  */
 /* --------------------------------------------------------------- */
 /* ------------------------------------------------------------------ */
 /* MEDIA STYLES: Tablet start  */
 @media(min-width: 500px) and (max-width: 991px) {
    /* -------------------- */
    /* nav styles start  */
    nav {
        grid-template-columns: 0 60px 1fr auto auto auto 0;
        grid-template-rows: 100px;
    }


    nav img{
        max-height: 60px;
    }

    #nav2,
    #nav3 {        
        font-size: 1.3em;        
        padding: 10px 30px;        
    }
    /* nav styles end  */
    /* ------------ */
    /* welcome message styles start  */
    #welcome-message-container {
        height: 300px;           
    }  


    #welcome-message{
        font-size: 1.5em;
    }
    /* welcome message styles end  */
    /* ----------- */
    /* featured styles start  */
    #featured {
        grid-template-rows: 200px 100px 100px 100px 200px;
    }


    #featured1 {
        font-size: 2.5em;
    }


    #featured2 {
        font-size: 2.5em;
    }
    /* featured styles end  */
    /* ------------------ */
    /* categories styles start  */
    #categories {
        grid-area: maincat1;
        grid-template-columns: 1fr repeat(6, 1fr) 0;
        grid-template-rows: 300px auto auto 300px;
        grid-template-areas:
        "empty1 catspace1 catspace1 catspace1 catspace1 catspace1 empty2 "
        "empty1 br br br br br empty2" 
        "empty1 vegan vegetarian sugarfree nonalcoholic dairyfree empty2"
        "empty1 catspace2 catspace2 catspace2 catspace2 catspace2 empty2 ";
        gap: 10px;  
    }


    #browse-title {
        font-size: 1.5em;
    }
    /* categories styles end  */
    /* ---------------- */
    } 
    /* MEDIA STYLES: Tablet end  */
 /* ----------------------------------------------------------- */
 /* ----------------------------------------------------------- */
/* MEDIA STYLES:  DESKTOP start  */
@media(min-width:992px) {
    .category-icon {        
        font-size: 20pt;
        width: 20px;
        height: 20px;
        padding: 30px;             
    }

    .category-icon:hover {
        cursor: pointer;
        color: var(--raisin-black);
        background-color: var(--deep-champagne);
        transition: 0.3s ease-in-out;
    }
    /* ------------------ */
    /* body styles start  */
    body {   
        grid-template-rows: 275px auto auto;
        grid-template-areas:
        "header"
        "main"
        "footer"; 
        }
    /* body styles end  */
        /* ------------ */
    /* header styles start      */
        header {    
        grid-template-rows: 80px 100px;    
    } 
    /* header styles end  */
    /* ----------------- */
    /* nav bar styles start  */
    nav {    
        grid-template-columns: 20px 80px 1200px auto auto 80px 10px;
        grid-template-rows: 80px;
        background-color: var(--deep-champagne-70);           
    }

    nav img {
        max-height: 60px;
        border-radius: 50%;
    }


    #nav2,
    #nav3 {
        text-decoration: none;
        color: var(--red-salsa);
        background-color: var(--off-white);    
        border: none;
        font-size: 1.3em;           
    }


    #nav2:hover ,
    #nav3:hover {
        color: var(--off-white);
        background-color: var(--red-salsa);        
        transition: 0.3s ease-in-out; 
    }
    /*  nav bar styles end  */
    /* ------------ */
    /* welcome message styles start  */
    #welcome-message-container {
        height: 150px;
        background-color: var(--red-salsa);    
    }


    #welcome-message {
        color: var(--off-white);
        font-size: 20pt;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    /* welcome message styles end  */
    /* -----------------  */
    /* main styles start  */
    #main { 
        grid-area: main;  
        grid-template-columns: 100px auto auto 100px;
        grid-template-rows: 600px 500px auto;
        gap: 25px;
        grid-template-areas: 
        "mainblank1 mainfeatured mainother mainblank2"
        "mainblank1 mainbrcat mainbrrecipe mainblank2"
        "mainblank1 mainsub mainsub mainblank2";    
    }
    /*-------------- featured section styles start  */
    #featured {
        height: auto;
        background-size: cover;
        grid-area: mainfeatured;
        grid-template-rows: 150px 90px 50px 50px 80px;                  
    }


    #featured1 {        
        font-size: 30pt;        
        padding: 20px 50px;        
    }


    #featured2 {
        grid-area: price;
        font-size: 20pt;
        color: var(--off-white);    
    }


    #featured3 {
        grid-area: ftcategory;        
        font-size: 35pt;
        gap: 0;
        grid-template-columns: 100px 100px;
        color: var(--deep-champagne)
    }


    #featured4 {
        grid-area: ftreadmore;      
    }


    #featured4 a {
        background-color: var(--skobeloff);
        color: var(--off-white);
        width: auto;
        font-size: 10pt;
        padding: 0px 20px; 
    }

    #featured4 a:hover {
        background-color: var(--off-white);
        color: var(--skobeloff);
        transition: 0.3s ease-in-out;
        border-radius: 2em;    
    }


    /* -------------featured section styles end  */
    /* ------------------------ */
    /* other blogs styles start  */
    #other-posts {
        grid-area: mainother;    
        grid-template-rows: repeat(2, 300px);    
    }      


    #other-posts h1 {
        font-size: 20pt;
        color: var(--raisin-black);
        background-color: var(--deep-champagne-70);
        padding: 20px 30px;
    }


    #other-posts a {
        font-size: 15pt;
        background-color: var(--skobeloff);
        padding: 20px 30px;        
    }

    #other-posts a:hover {
        background-color: var(--off-white);
        color: var(--skobeloff);
        transition: 0.3s ease-in-out;
        border-radius: 2em;    
    }


    /* other blogs styles end  */
    /* ----------- */
    /* main styles end  */
    /* --------------- */
    /* browse by category styles start  */
    #categories {
        grid-area: maincat1;
        grid-template-columns: auto repeat(6, 1fr) 0;
        grid-template-rows: 300px auto auto 300px;
        grid-template-areas:
        "catspace1 catspace1 catspace1 catspace1 catspace1 catspace1 catspace1 "
        "br br br br br br br" 
        "empty1 vegan vegetarian sugarfree nonalcoholic dairyfree empty2"
        "catspace2 catspace2 catspace2 catspace2 catspace2 catspace2 catspace2 ";
        gap: 10px;  
    }
    /* browse by category styles end  */
    /* -----------------  */
    /* browse recipes section styles start */
    #browse-recipe-container {
        grid-area: mainbrrecipe;
        gap: 10px;
        grid-template-rows: 140px 50px 100px 300px;          
    }  


    #br-submit:hover {
        background-color: var(--deep-champagne);
        color: var(--raisin-black);
        padding: 10px 30px;
        border: solid 0;
        border-radius: 3em;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    /* browse recipes section styles end  */
    /* ------------------ */
    /* subscribe form styles start  */
    #subscribe-form-container {
        grid-area: mainsub;
    }


    #subscribe-title {
        font-size: 20pt;
        grid-area: subtitle;
    }


    #subscribe-form {
        gap: 30px;
        flex-direction: row;
        grid-area: subform;
    }


    #submit-button:hover {
        background-color: var(--deep-champagne);
        color: var(--raisin-black);
        border-radius: 3em;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }


    #submit-reset-button:hover  {
        background-color: var(--raisin-black);
        color: var(--deep-champagne);
        border-radius: 3em;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    /* subscribe form styles end  */
    /* ------------------ */
    /*  main styles end  */
    /* -------------------------- */
    /* footer styles start  */
    footer {
        width: 100vw;
        background-color: var(--raisin-black);
        grid-template-columns: auto auto auto;
        grid-template-rows: 100px;
        gap: 10px;
        grid-template-areas:     
        "footerspace allrights shareop"    
        ;
    }

    footer img {
        width: 50px;
        height: auto;
    }


    #all-rights {
        grid-area: allrights;
        color: var(--off-white);
        font-size: 12pt;
    }


    #share-options {
        grid-area: shareop;
        width: 100%;
        gap: 15px;
        height: auto;  
    }
        
  
}
 /* MEDIA STYLES: Dekstop end  */
 /* ----------------- */
 /* ------------------- */
/* MEDIA STYLES TEMPLATE (below) 
@media(max-width: 320px)
@media(min-width: 901px){

}
@media(min-width: 600px) and (max-width: 900px) */