:root{
    /* first pallete */
    --tumbleweed: #D8A47F;
    --raisin-black: #272932;
    --alice-blue: #e7ecef;
    --skobeloff: #0f7173;
    --red-salsa: #f05d5e;

    /* second pallete */
    --ruby-red: #A41623;
    --orange-pantone: #f85e00;
    --rajah: #ffb563;
    --deep-champagne: #ffd29d;
    --gold-fusion: #918450;
   }

/* universal classes styles start  */
.container{
    display: grid;
}
/* universal classes styles end  */
/* ----------------- */
/* body styles start  */
body{
    margin:0;
    width:100%;
    height:auto;    
    background-color: var(--deep-champagne);
    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto; 
    grid-template-areas:
    "header"
    "main"
    "footer";
}
/* body styles end  */
/* -------------------------- */

/* header styles start  */
header{
    width:100%;
    background-color: var(--skobeloff);
    margin:0;   
    padding: 10px;
    grid-area: header;    
}
/*  header styles end  */
/* -------------------------- */
/* nav bar styles start  */
nav{
    display: inherit;
    align-items: center;
    grid-gap: 10px;
    grid-template-columns: 80px 450px auto auto 90px;
    grid-template-rows: 80px;
    grid-template-areas:
    "logo space category about search";        
}
nav img{
    max-height: 80px;
    border-radius: 50%;
}
nav a{
    text-decoration: none;
    color: var(--raisin-black);    
}
nav button{
    background-color: var(--orange-pantone);
    border-radius: 50px;
    border: solid 1px var(--orange-pantone);
    font-size: 30px;
    padding: 10px;
    color: var(--deep-champagne);
}

#nav1{
    grid-area: logo;
 }
 #nav2{
    grid-area: category;
 }
 #nav3{
    grid-area: about;
 }
 #nav4{
    grid-area: search;    
 }
 
/*  nav bar styles end  */
/* -------------------------- */
/* main styles start  */
main{
    margin:0;
    grid-template-columns: 100%;
    gap: 50px;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    
}
#main-container{
    grid-area: main;
    
}
#featured{
    width: 100%;
    height: 1100px;
    background-image: url(../img/featured-food-img.jpg);
    background-size:cover;
    display:flex;
    flex-direction: column;
    color: var(--orange-pantone);    
}
/*  header styles end  */
/* -------------------------- */
/* main styles start  */

#footer{
    grid-area: footer;
}


/* MEDIA STYLES TEMPLATE (below) 
@media(max-width: 320px)
@media(min-width: 901px)
@media(min-width: 600px) and (max-width: 900px) */