@media(max-width: 991px) {
    /* ------------ */
    /* welcome message styles start  */
    #welcome-message-container {
        height: 300px;           
    }


    #featured {
        grid-template-rows: 400px 100px 100px 100px 150px;
    }


    #welcome-message{
        font-size: 1.5em;
    }
    /* welcome message styles end  */
    /* ----------- */
    } 